body {
  margin: 0;
  background-color: rgb(230, 220, 215);
}
input, select, textarea {
    font-size: 16px;
}
.App {
  text-align: center;
  background-color: rgba(230,220,210,.8);
}

.App-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgb(30,30,10);
}
.App-menu a {
  margin: 6px auto;
  font-family: 'Cormorant', serif;
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(230, 220, 215);
}
.label-small {
  position: relative;
  top: -4px;
}
.App-content {
  min-height: 100vh;
  background: rgb(230, 220, 215) url(/img/IMG_1143.jpg);
  background-size: cover;
}
.App-content.man {
  background: url(/img/IMG_5875.jpg);
  background-size: cover;
}
.App-content.woman {
  background: url(/img/IMG_5884.jpg);
  background-size: cover;
}
.App-content.proman {
  background: url(/img/IMG_1203.jpg);
  background-size: cover;
}
.App-content.prowoman {
  background: url(/img/IMG_1203.jpg);
  background-size: cover;
}

.home-page {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: rgba(230, 220, 215,.8);
}
.mann-page {
  /*background: url(/img/mann_1001.png);
  background-size: cover;*/
  min-height: 100vh;
  background-color: rgba(230, 220, 215, 1);
}
.home-mannequin {
  position: relative;
  height: 100vh;
  background-color: rgba(230, 220, 215, 1);
  z-index: 69;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.contents {
  padding-top: 8vh;
  min-height: 100vh;
  background-color: rgb(230, 220, 215,.8);
}
.submenu {
  padding: 1vh;
}
.contents .ui.menu {
  margin-top: 0;
  background-color: rgb(220, 200, 180);
  color: #dcc8b4;
}
.contents .ui.inverted.menu .item {
  color: rgb(80,60,60)
}
.contents .ui.menu .item:before {
  background: rgba(120,110,100,.4);
  height: 2em;
  margin-top: 7px;
}
.contents .ui.menu .active.item {
  background: none;
  color: rgb(180, 45, 0)!important;
  font-weight: 700;
}

/* ========= MANNEQUIN ================================================= */
/* -- inside App-content.mannequin : .CONTENTS -------------- */
.main {
  height: 46vw;
}
.mann-page div {
  float: left;
}
.mann-page ul {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.mann-page li {
  min-height: 280px;
  margin-bottom: 6px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  list-style: none;
  clear: both;
  background-color: rgba(250,250,250,.8);
}
.mann-page li:last-child {
  min-height: 0;
  list-style: none;
  clear: both;
  border-top: 0;
  border-bottom: 0;
  background-color: rgba(230, 220, 215, 1);
}
.mann-page img {
  float: right;
}
.mann-overlay {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  min-height: 100vh;
  background-color: rgba(255,212,212,.5);
}
.mannequin-controls {
  position: absolute;
  top: 250px;
  left: 0;
  width: 24vw;
  height: 180px;
  z-index: 79;
}

.mnq-menu {
  position: absolute;
  width: 100vw;
  z-index: 90;
  top: 8vh;
  left: 0;
  display: flex;
  overflow-x: auto;
}
.carrousel {
  min-width: 100vw;
  text-align: left;
  display: flex;
  position: relative;
  left: 0;
}

.mnq-menu .ui {
  margin: 0 8px;
}
/* === Mannequin Menu Semantic ==================== */
.mnq-menu::-webkit-scrollbar {
  display: none;
}
.mnq-menu .ui.buttons .button:first-child {
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
}
.mnq-menu .ui.buttons .button {
  flex: 1 0 auto;
  margin: 0;
  border-radius: .3em;
  padding: .7em 1.1em;
}
.mnq-menu .ui.buttons .button:last-child {
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
}
/* === Mannequin Menu Semantic ==================== */
.mnq-menu .body-part-menu {
  position: relative;
  left: 0;
  min-width: 100vw;
  text-align: center;
}
.move {
  -webkit-transition-property: left;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: left;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.controls-menu {
  max-width: 180px;
}
.controls-menu li {
  list-style: none;
  min-height: 40px;
}

.mannequin-thong {
  position: absolute;
  top: 60px;
  left: -1px;
  min-width: 30px;
  max-width: 45px;
  min-height: 30px;
  border-radius: 0 14px 14px 0;
  border-left: 2px dotted rgb(230, 220, 215);
  padding-top: 5px;
  background-color: black;
}

.body-parts {
  position: absolute;
  max-width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: inherit;
}
.body-parts img {
  position: relative;
  left: -43px;
}

.cursor {
  position: absolute;
  padding: 0 6px;
  width: 66vw;
  top: 65px;
  right: -1px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px 0 0 14px;
  background-color: black;
  color: white;
}
.cursor-move {
  -webkit-transition-property: left top;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: left top;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.signup {
  min-height: 100px;
  margin: 14px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.signup .ui.basic.red.label {
  background-color:  rgba(230, 220, 215,.8)!important;
  border-color: #418acd!important;
  border-radius: 1.3em;
}
.signup .ui.labels a.label:hover, a.ui.basic.red.label:hover {
  background-color: rgba(230, 220, 215,.8)!important;
  border-color: #418acd!important;
}
.signup .ui.form input, .signup .ui.form input:focus, .signup .ui.form input>input {
  border: 1px solid black;
  border-radius: 1em;
  background: none;
}
.signup .ui.form input>input {
  border: 1px solid black;
  border-radius: 1em;
  background: none;
}
.signup .ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
  opacity: 1;
}
/* Account, Cart Pages */
.user-page {
  background: url(/img/payment.jpg);
  background-size: cover;
}
.user-icon {
  position: relative;
  display: inline-block;
  width: 50%;
}
.user-icon span {
  position: absolute;
  top: 8px;
  left: 35px;
  padding: 0px 4px;
  font-size: .65em;
  border-radius: 9px;
  background-color: #eee;
  color: black;
}
.right-border {
  border-right: 1px solid white;
}
.main-icon {
  margin: 0 10px;
  display: inline-grid;
}
.asset-icon {
  font-size: 1.2em;
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
}
.asset-icon .ui.label {
  position: relative;
  top: 12px;
}
.asset-icon .ui.basic.label {
  background-color: rgba(230, 220, 215,.8)!important;
  border: 2px solid #888888!important;
}
.asset-icon .dot {
  width: 25vw;
  height: 25vw;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 8px solid white;
  font-size: 3em;
  font-weight: 700;
}
.asset-icon span {
  position: relative;
}
.iconic {
  margin-top: 10px;
}

.bday.ui.form .inline.fields {
  display: inline-flex;
}
.bday.ui.form .inline.fields .field {
  max-width: 30vw;
  margin: 1px;
}
.bday.ui.form .inline.fields .field:not(.wide) .ui.input {
  width: 20vw;
}
.bday.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  text-align: center;
}
/* ============================================================= */

/* Wellcome, Fashion Pages*/
.vintage {
  font-family: 'Cormorant', serif;
  font-style: italic;
}
.vintage p {
  text-align: left;
  font-size: 1.2em;
}
.vintage.title {
  line-height: 1em;
  text-align: left;
  border-bottom: 1px solid #dcc6ab;
}
.paraf-big {
  font-size: 2.3em;
  font-weight: 700;
}
.paraf-mid {
  font-size: 1.2em;
  font-weight: 300;
}

.promo {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-style: normal;
  padding: 0 1em;
}
.promo ul {
  padding: 0;
  font-family:
}
.promo .ui.segment {
  margin: 1em 0;
  min-height: 14vh;
  border: 0 solid black;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  background-color: rgba(20,20,20,.5);
  color: white;
}
.promo a.item, .ui.list>a.item i.icon {
  color: white;
}
.promo .ties {
  background: url(/img/tie.jpg) no-repeat;
  background-size: cover;
}
.promo h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
.promo .divider {
  font-family: 'Cormorant', serif;
  color: white;
}

a.domain {
  color: rgb(255,190,10);
}

.brand {
  display: inline-block;
}
.brand span {
  position: relative;
  left: -47px;
  font-family: 'Alex Brush', cursive;
  font-size: 1.2em;
  color: white;
}

.card .content {
  min-width: 23vw;
  min-height: 23vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content i.big.icon, i.big.icons {
  margin-bottom: 2px;
  border-bottom: 1px solid white;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-size: 1em;
  color: white;
}
.ui.card>.content, .ui.cards>.card>.content {
  padding: none;
}
.ui.card, .ui.cards>.card {
  padding: none;
  background: rgba(153, 137, 97,.8);
}
.category {
  padding: 1.5em 1.5em;
}

/* ---- Utils --------------------------------------------------------------- */
.padded {
  padding-left: 12px;
  padding-right: 12px;
}
.labeled .ui.labeled.button:not(.icon) {
  width: 100%;
}
.dot {
  display: inline-block;
  border-radius: 50%;
}
.clear {
  clear: both;
}

/* ------------------------------------------------------------------ */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 375px) {
  .body-parts img {
    left: -37px;
    top: -8px;
    height: calc(100vh - 10px);
  }
}
@media screen and (min-width: 414px) {
  .body-parts img {
    left: -37px;
    top: 0px;
    height: calc(100vh - 10px);
  }
}
@media screen and (min-height: 812px) {
  .body-parts img {
    left: -87px;
    top: 0px;
    height: calc(100vh - 0px);
  }
  .App-menu {
    height: 6vh;
  }
}
