.App {
  text-align: center;
  background-color: rgba(230,220,210,.8);
}

.App-menu {
  position: fixed;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgb(30,30,10);
}
.App-menu a {
  margin: 6px auto;
  font-family: 'Cormorant', serif;
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(230, 220, 215)
}

.App-content {
  min-height: 100vh;
  background: rgb(230, 220, 215) url(/img/IMG_1143.jpg);
  background-size: cover;
}


.App-content.man {
  background: url(/img/IMG_5875.jpg);
  background-size: cover;
}
.App-content.woman {
  background: url(/img/IMG_5884.jpg);
  background-size: cover;
}
.App-content.proman {
  background: url(/img/IMG_1203.jpg);
  background-size: cover;
}
.App-content.prowoman {
  background: url(/img/IMG_1203.jpg);
  background-size: cover;
}
.App-content.mannequin {
  background: url(/img/base.jpg) center;
  background-size: cover;
}

.home-page {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: rgba(230, 220, 215,.8);
}
.home-mannequin {
  min-height: 100vh;
  background-color: rgba(230, 220, 215,.8);
}

.contents {
  padding-top: 8vh;
  min-height: 100vh;
  background-color: rgb(230, 220, 215,.8);
}
.submenu {
  padding: 1vh;
}
.contents .ui.menu {
  margin-top: 0;
  background-color: rgb(220, 200, 180);
  color: #dcc8b4;
}
.contents .ui.inverted.menu .item {
  color: rgb(80,60,60)
}
.contents .ui.menu .item:before {
  background: rgba(120,110,100,.4);
  height: 2em;
  margin-top: 7px;
}
.contents .ui.menu .active.item {
  background: none;
  color: rgb(180, 45, 0)!important;
  font-weight: 700;
}

/* ========= MANNEQUIN ================================================= */
/* -- inside App-content.mannequin : .CONTENTS -------------- */
.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.body img {
  position: relative;
  left: -43px;
}
.head {
  background: url('/img/head.png') center;
  background-size: cover;
}
.corp {
  background: url('/img/corp.png') center;
  background-size: cover;
}
.waist {
  background: url('/img/waist.png') center;
  background-size: cover;
}
.legs {
  background: url('/img/legs.png') center;
  background-size: cover;
}
.foot {
  background: url('/img/foot.png') center;
  background-size: cover;
}


.signup {
  min-height: 100px;
  margin: 14px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.signup .ui.form input, .signup .ui.form input:focus, .signup .ui.form input>input {
  border: 1px solid black;
  border-radius: 1em;
  background: none;
}
.signup .ui.form input>input {
  border: 1px solid black;
  border-radius: 1em;
  background: none;
}
.signup .ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
  opacity: 1;
}

.user-page {
  background: url(/img/payment.jpg);
  background-size: cover;
}

.vintage {
  font-family: 'Cormorant', serif;
  font-style: italic;
}
.vintage.title {
  line-height: 1em;
  text-align: left;
  border-bottom: 1px solid #dcc6ab;
}
.vintage.big {
  font-size: 2.3em;
  font-weight: 700;
}
.vintage.small {
  font-size: 1.2em;
  font-weight: 300;
}

.promo {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-style: normal;
  padding: 0 1em;
}
.promo ul {
  padding: 0;
  font-family:
}
.promo .ui.segment {
  margin: 1em 0;
  min-height: 14vh;
  border: 0 solid black;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  background-color: rgba(20,20,20,.5);
  color: white;
}
.promo a.item, .ui.list>a.item i.icon {
  color: white;
}
.promo .ties {
  background: url(/img/tie.jpg) no-repeat;
  background-size: cover;
}
.promo h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
.promo .divider {
  font-family: 'Cormorant', serif;
  color: white;
}

a.domain {
  color: rgb(255,190,10);
}

.brand {
  display: inline-block;
}
.brand span {
  position: relative;
  left: -47px;
  font-family: 'Alex Brush', cursive;
  font-size: 1.2em;
  color: white;
}

.card .content {
  min-width: 23vw;
  min-height: 23vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content i.big.icon, i.big.icons {
  margin-bottom: 2px;
  border-bottom: 1px solid white;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-size: 1em;
  color: white;
}
.ui.card>.content, .ui.cards>.card>.content {
  padding: none;
}
.ui.card, .ui.cards>.card {
  padding: none;
  background: rgba(153, 137, 97,.8);
}
.category {
  padding: 1.5em 1.5em;
}

/* ------------------------------------------------------------------ */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
