doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='theme-color', content='#000000')
    link(rel='manifest', href='%PUBLIC_URL%/manifest.json')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald:600|Staatliches|Cormorant:300,500,700|Cormorant+Infant:500i,700i|Alex+Brush')

    title Mannequin Doll
    script.
      window._LNG = "#{lan}"
  body
    div(id='root')
